
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');


.work-sans
{
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font: weight 400px;
  font-style: normal;
}
/* .shared style{ */
.display-flex{
 display: flex;
}
 
.nav-item{
list-style: none;
text-decoration: none;
margin-right: 30px;
}
.nav-links{
text-decoration: none;
}
.navbar{
  justify-content: space-between;
  align-items: center;
  /* padding: 0; */
}
.bg-light{
  background-color:rgba(250, 237, 221, 0.966) ;
}
.text-gray{
  color: #424242;
}
/* .text-light-gray{
  color:#131313 ;
} */
 .brand{
  font-weight: 700;
  font-size: 3rem;
  color:black;
 }
 .banner-content{
  max-width: 850px;
  margin: 0 auto;
  justify-items: center;
  text-align: center;
  margin-bottom:50px ;
 }
 .banner{
  justify-content: center;
  align-items: center;
 }
 .banner-title{
  font-weight: 700;
  font-size: 4rem;
 }
 .btn-primary{
  max-width: 180px;
  max-height: 64px;
  font-weight: 600;
  padding: 20px;
  font-size: 1.25rem;
  background-color: #FF900E;
  color: white;
  border-radius: 8px;
  border: none;
 }
 .banner-img{
  width: 100%;
 }
 @media screen and (max-width:576px) {
  .navbar, .nav-links,{
    flex-direction: column;
  }
 }