
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');


.work-sans
{
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font: weight 400px;
  font-style: normal;
}
img{
  width: 100%;
  height: 100%;
}
/* .shared style{ */
.display-flex{
 display: flex;
}
 .navbar, .banner{
  max-width: 1140px;
  margin: 0 auto;
 }
.nav-item{
list-style: none;
text-decoration: none;
margin-right: 30px;
}
.nav-links{
text-decoration: none;
}
.navbar{
  justify-content: space-between;
  align-items: center;
  /* padding: 0; */
}
.section-title{
  font-size: 2.9rem;
}
.bg-light{
  background-color:rgba(250, 237, 221, 0.966) ;
}
.text-gray{
  color: #424242;
}
.text-light-gray{
  color:#131313 ;
}
 .brand{
  font-weight: 700;
  font-size: 3rem;
  color:black;
 }
 .banner-content{
  max-width: 850px;
  margin: 0 auto;
  justify-items: center;
  text-align: center;
  margin-bottom:50px ;
 }
 .banner{
  justify-content: center;
  align-items: center;
 }
 .banner-title{
  max-width: 470px;
  font-weight: 700;
  font-size: 4rem;
 }
 .btn-primary{
  max-width: 180px;
  max-height: 64px;
  font-weight: 600;
  padding: 20px;
  font-size: 1.25rem;
  background-color: #FF900E;
  color: white;
  border-radius: 8px;
  border: none;
 }
 .banner-img{
  width: 100%;
 }
 /* team related style */
.team-img-container{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  gap: 24px;
}
main{
  width: 1200px;
  margin: 0 auto;
}
 .teams{
  align-items: center;
  gap: 40px;
 }
 .teams > div{
flex: 1;
 }
 .our-feature{
  margin-left: 130px;
  max-width: 530px;
 }
/* featur related style */

#quick-list{
  color: #727272;
  font-weight: 500;
}
.of-Our{
  color:#131313 ;
}

#Features{
  color: #FF900E;
}




 @media screen and (max-width:576px) {
  .navbar, .nav-links, .teams {
    flex-direction: column;
  }
  .team-img-container{
  grid-template-columns: repeat(1,1fr);
}
.our-feature{
  margin-left: 20px;
}

 }
.main > section{
  margin-top: 130px;
}